@font-face {
  font-family: 'Jetbrains';
  src: url('./assets/Jetbrains.ttf');
}

* {
  font-family: 'Jetbrains';
}

::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-track {
  background: #1d2021;
}

::-webkit-scrollbar-thumb {
  background: #282828;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3836;
}
